
.carousel{

 
  height: 100%;
  position: absolute;
  z-index: 1;
   //border-right: 50px solid blue;
   border-left: 50px solid white;
   border-right: 130px solid white;
   //border-bottom: 200px solid grey;
   //margin: top right bottom left;

  
}