
.carousel{

 
  height: auto;
  position: absolute;
  z-index: 1;
   //border-right: 50px solid blue;
   border-left: 100px solid white;
   border-right: 100px solid white;
   //border-bottom: 200px solid grey;
   //margin: top right bottom left;

}


@media(max-width:769px) {
  .carousel{
    border-right: 23px solid white;
    border-left: 23px solid white;
  }
}
