.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 40px;
  background: grey;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  color: black;
  //position: absolute;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(
    0.77,0.2,0.05,1.0
            ), background 0.55s ease;
}


.toggle-button:focus{
  outline: none;
}

.toggle-button_line{
  display: block;
  width: 40px;
  height: 1.5px;
  background: white;
}