.side-drawer{
   height: 35%;
   background:white;
 box-shadow: 1px 0px 7px rgb(0, 0, 0.5);
  position:absolute;
 // position: fixed;
   top: 0;
   left:1;
   width: 48%;
   max-width:400px ;
   z-index: 200;
   transform: translateX(-200%);/* la animacion de transform translatex*/
   transition: transform 0.3s ease-out;
   font-size: 16px;
 //border-radius: 4px;
 
 

}
.side-drawer.open{
   transform: translateX(0);
 }

 .side-drawer ul {
 height:80%;
  list-style: none;
 display: flex;
 flex-direction: column;
 justify-content:center;
 background-color: white;
 

}
 .side-drawer li{
  //border:1px solid ; 
  margin: 0.5rem, 0;
  border-right: 20px solid white;
    border-left: 0.5px solid white;
    padding: 10px 0;
    
   
   
 }

@media(min-width:769px) {
   .side-drawer{
     display: none;
   }
 }

